<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Goods Accounting.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>770B41161D925E7300CA0A80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>770B412D1D925E7400CA0A80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>770B41381D925E7400CA0A80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
